.fix_button {
  margin-top: 5%;
}

.table_color {
  background-color: lightsteelblue
}

.p-10 {
  padding-top: 10%;
}

.pr-10p {
  padding-right: 10%;
}

.pl-33p {
  padding-left: 33%;
}

.ml-18p {
  margin-left: 18%;
}

.ml-24p {
  margin-left: 24%;
}
