<div class="row float-right text-white" style="vertical-align: middle;padding-right: 8px;">
  <div class="fix_top">
    <a *ngIf="!authService.authenticated" class="ml-3 mr-3 cursor-pointer color-black" routerLink="/book">
      Login
    </a>
    <a class="btn btn-sm" *ngIf="authService.authenticated" class="ml-3 mr-3 cursor-pointer color-black" (click)="logout()">
      Logout
    </a>
    <a *ngIf="!authService.authenticated" class="ml-3 mr-3 cursor-pointer color-black" routerLink="/register">
      Register
    </a>
    <a *ngIf="authService.authenticated">
      <span style="color: #5c5852">Logged by {{user.name}}</span>
    </a>
  </div>

</div>

<style>
  .color-black {
    color: black;
  }

</style>
